body {
	font-family: Helvetica;
}
h1 {
background-image: url("pattern.jpeg");
font-weight: bold;
font-size: 100px;
color: khaki;
text-align: center;
}
h2 {
	font-size: 32px;
	font-weight: bold;
	color: white;
}
h2.brushes {
	background-color: mediumspringgreen;
}
h2.frames {
	background-color: lightcoral;
}
h2.paint {
	background-color: skyblue;
}
.price {
	font-family: Helvetica; 
	font-weight: bold;
	color: blue;
}